* {margin: 0;padding: 0;}
body {background-color: #420000;}
.main-desktop {
    width: 1000px;
    margin: auto;
    background-color: white;
}
.main-desktop header {
    background-color: #5E0404;
    width: 98%;
    margin: auto;
    margin-top: 100px;
}
.list li {display: inline-table;}
.list li a {
    display: inline-table;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
}
.list li:hover {background-color: #891D1D;}
#active {background-color: #891D1D;}
.col1 {
    width: 700px;
    margin-left: 25px;
    margin-top: 15px;
    padding-bottom: 20px;
}
.col2 {
    width: 240px;
    float: right;
    display: inline-table;
    margin-right: 25px;
    margin-top: 15px;
}
.col2 a {padding: 0 7px 5px 0;}
#icon {
    padding: 5px;
    background-color: #5E0404;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}
#icon:hover {padding-top: 10px;background-color: #891D1D;}
.line {
    width: 100%;
    margin-top: 20px;
    color: white;
    background-color: #5E0404;
}
#title {
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
}
i {text-align: center;opacity: 0.8;}
.title {padding: 10px;}
.content {margin-top: 10px;}
.content select {padding: 5px;}
#sch {display: none;color: white;}
#serch {
    background: url(img/search.png) no-repeat;
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 8px 0 8px 40px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
#serch:focus {
    background-color: #fff;
    outline: none;
    padding-right: 15px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}
.tablet {display: none;}
@media only screen and (max-width: 1000px) {
    .col2 {display: none;}
    .main-desktop {width: 800px;}
    #sch {
        display: block;
        width: 5px;
        cursor: pointer;
        float: right;
        background: url(img/search.png) no-repeat;
        border: none;
        padding: 10px 0 10px 32px;
        transition: all 300ms linear;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
        box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    }
    #sch:focus {
        width: 150px;
        padding-right: 15px;
        cursor: auto;
        outline: none;
        transition: all 300ms linear;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
    }
    #sch:hover {background-color: #891D1D;}
    .tablet {display: block;}
}