.desktop {
    padding-left: 100px;
}

.desktop ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.desktop ul li {
    padding: 0px 15px;
}

.desktop ul a {
    color: white;
    text-decoration: none;

    border-bottom: 5px solid;
    border-color: transparent;
    transition: 0.5s all;
}

.desktop a.active, .desktop ul a:hover {
    color: white;
    text-decoration: none;

    padding-bottom: 15px;
    border-bottom: 5px solid var(--color);
    border-radius: var(--border-radius);
    transition: 0.5s all;
}