.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 40px;
    font-size: 1em;
}

aside a {
    margin: 5px;
    padding: 10px 20px;
    border-radius: var(--border-radius);

    color: white;
    text-decoration: none;
    border: 1px solid;
    transition: 0.5s all;
}

aside a:hover {
    color: white;
    text-decoration: none;

    border: 1px solid var(--color);
    border-radius: var(--border-radius);
    transition: 0.5s all;
}

.mobile {
    display: none;
}

@media (max-width: 800px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    .header {
        justify-content: flex-end;
    }

    .header aside {
        display: none;
    }

    #demo {
        height: 0px;
    }

    #demo ul li.active {
        transition: 1s all;
        background-color: black;
        border: 1px solid var(--color);
    }
}

@media (max-width: 500px) {
    .search input[type="text"] {
        height: 40px;
    }
}