:root {
    --item-height: 300px;
}

.card {
    display: inline-block;  
    background-color: transparent;
    border: 2px solid #420000;
    text-align: center;

    padding-top: 20px;
    width: 15rem;
}

.card img {
    height: var(--item-height);
    width: 200px;
}

.line-break {
    white-space: nowrap;
    overflow: hidden;
    transform: rotateX(360deg);
}

div.line-break a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

div.line-break a:hover {
    text-shadow: white 0.1em 0.1em 0.2em;
}

a.long {
    position: relative;
    right: 0px;
    transition: 2s all;
}

a.long:hover {
    position: relative;
    right: 120px;
    transition: 2s all;
}

.card p {
    color: rgba(255, 255, 255, 0.5);
}

.star {
    max-width: 25px;
    max-height: 15px;
    width: auto;
    height: auto;

    margin-bottom: 5px;
    padding-right: 10px;
}

button.btn {
    transition: .5s all;
    /* font-size: 1.25rem; */
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color:var(--btn-color);
}

button.btn a {
    color: white;
    text-decoration: none;
}
button.btn:hover a, button.btn a:hover{
    opacity: 0.6;
}

@media (max-width: 770px) {
    .card {
        width: 13rem;
        margin: 5px;
    }

    .card img {
        width: 160px;
        height: 250px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 10rem;
        margin: 5px;
    }

    .card img {
        width: 120px;
        height: 200px;
    }

    .card-body {
        font-size: 0.8em;
    }
}