header nav {
    display: flex;
    justify-content: space-between;
}

header nav a.logo {
    font-size: 35px;
    padding: 20px 40px;
}

header nav > a::first-letter {
    color: var(--color);
}

header nav a {
    color: white;
}

header nav a:hover {
    color: white;
    text-decoration: none;
} 

header nav div.links ul {
    display: flex;
    list-style: none;
    padding: 20px 40px;
}

header nav div.links ul li {
    padding: 20px;
}

header nav div.links ul li a:hover, header nav div.links ul li a.active {
    transition: .3s all;
    padding-bottom: 15px;
    border-bottom: 4px solid var(--color);
}

header nav aside {
    margin: 20px 40px;
    margin-top: 40px;
}

header nav aside a {
    border: 3px solid var(--btn-color);
    padding: 10px;
    margin: 10px;
    border-radius: var(--border-radius);
}

header nav aside a:hover, header nav aside a.active {
    transition: .3s all;
    background-color: var(--btn-color);
}