:root {
    --header-height: 100px;
    --footer-height: 60px;

    --border-radius: .25rem;
    --color: #420000;
    --btn-color: #290000;
}

* {
    margin: 0px;
    font-family: serif;
}

body {
    background-color: #000 !important;
}

.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-areas: "header header" " container container" "footer footer";

    margin: 0px;
}

header {
    grid-area: header;
}

.container {
    grid-area: container;
}

footer {
    grid-area: footer;
}